body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    color: #fff;
    text-decoration: underline;
    margin: 0 10px;
}

.container {
    margin: 20px;
}

.options {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.option {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
    text-align: center;
    width: 200px;
}

.language-links {
    padding: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    padding: 8px;
    text-align: left;
    border:1px solid #ddd;
}

th {
    background-color: #f2f2f2;
    color: #333;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #0056b3;
}
.menu {
    display: flex;
}

ul.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}

li.menu {
    float: left;
}

li.menu a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

li.menu span {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

li.menu a:hover {
    background-color: #111111;
}

.container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 10px;
}

input[type="text"],
input[type="email"],
input[type="file"],
input[type="submit"] {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

.profile-info {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    padding: 10px;
}

.profile-label {
    margin-right: 20px;
    font-weight: normal;
}

.profile-picture {
    width: 100px;
    height: auto;
}

.welcome {
    color:#007bff;
    font-size: 36px;
    margin-bottom: 20px;
    text-align: center;
}

.login-btn {
    position: absolute;
    top: 20px;
    right: 10px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: 1px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}
.login-btn:hover {
    background-color: #0056b3;
}

h1 {
    display: block;
    width: 100%;
}
