<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Messages</title>
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/loadMoreMessages.js}"></script>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
<nav>
<h1 class="welcome">Welcome to our SpringBootApplication</h1>
    <a href="/login" class="login-btn">Log In</a>
</nav>
<table>
    <thead>
    <tr>
        <th>Title</th>
        <th>Content</th>
        <th>Author</th>
        <th>Date</th>
    </tr>
    </thead>
    <tbody id="messageTableBody">
    <tr th:each="message : ${messages}">
        <td th:text="${message.title}" />
        <td th:text="${message.content}" />
        <td>
            <span th:if="${message.user != null}" th:text="${message.user.username}"></span>
        </td>
        <td th:text="${message.date}" />
    </tr>
    </tbody>
</table>
<input type="hidden" id="currentPage" value="0">
<button class="load" onclick="loadMoreMessages()">Load More Messages</button>
</body>
</html>
