<ul class="menu">
    <li class="menu">
        <a href="/web/messages" th:text="#{home.header}">Home</a>
    </li>
    <li class="menu" th:unless="${menu.authenticated}">
        <a href="/login" th:text="#{sign_in.button.label}">Log in</a>
    </li>
    <li class="menu" th:if="${menu.authenticated}">
        <a href="/web/messages/new" th:text="#{message.options.create}">New message</a>
    </li>
    <li class="menu" th:if="${menu.authenticated}">
        <a href="/web/mymessages" th:text="#{user.option.my.messages}">My Messages</a>
    </li>
    <li class="menu" th:if="${menu.authenticated}">
        <a href="#logout" onclick="logout()" th:text="#{sign_out.button.label}">Log out</a>
    </li>
    <li class="menu" th:if="${menu.authenticated}">
        <a href="/web/profile" th:text="${menu.username}"></a>
    </li>

    <li class="menu">
        <a href="?lang=en">English</a>
        <a href="?lang=sv">Svenska</a>
    </li>
</ul>

