<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="head.html">
    <meta charset="UTF-8">
    <title>Messages</title>
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/loadMoreMessages.js}"></script>
</head>
<body>
<div th:include="menu.html"/>
<table>
    <thead>
    <tr>
        <th>Title</th>
        <th>Content</th>
        <th>Author</th>
        <th>Date</th>
        <th>Privacy</th>
    </tr>
    </thead>
    <tbody id="messageTableBody">
    <tr th:each="message : ${messages}">
        <td th:text="${message.title}" />
        <td th:text="${message.content}" />
        <td>
            <span th:if="${message.user != null}" th:text="${message.user.username}"></span>
        </td>
        <td th:text="${message.date}" />
        <td>
            <span th:text="${message.statusPrivate ? 'Private' : 'Public'}"></span> <!-- Display 'Private' or 'Public' based on the status -->
        </td>
    </tr>
    </tbody>
</table>
<input type="hidden" id="currentPage" value="0">
<button id="load" onclick="loadMoreMessages()">Load More Messages</button>
</body>
</html>
