<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="head.html">
    <meta charset="UTF-8">
    <title>Messages</title>
</head>
<body>
<div th:include="menu.html"/>
<table>
    <caption>Messages</caption>
    <tr>
        <th>
            Title
        </th>
        <th>
            Content
        </th>
    </tr>
    <tr th:each="message: ${messages}">
        <td th:text="${message.title}" />
        <td th:text="${message.content}" />
    </tr>
</table>

</body>
</html>