<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="head.html">
    <meta charset="UTF-8">
    <title>My Messages</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
<div th:include="menu.html"/>
<table>
    <thead>
    <tr>
        <th>Title</th>
        <th>Content</th>
        <th>Edit Message</th>
        <th>Author</th>
        <th>Privacy</th>
        <th>Last Edited By</th>
        <th>Last Edited At</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="message : ${messages}">
        <td th:text="${message.title}"></td>
        <td th:text="${message.content}"></td>
        <td>
            <a th:href="@{/web/messages/{id}/edit(id=${message.id})}">Edit</a>
        </td>
        <td>
            <span th:if="${message.user != null}" th:text="${message.user.username}"></span>
        </td>
        <td>
            <span th:text="${message.statusPrivate ? 'Private' : 'Public'}"></span> <!-- Display 'Private' or 'Public' based on the status -->
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
