<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="head.html">
    <meta charset="UTF-8">
    <title>Messages</title>
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/loadMoreMessages.js}"></script>
</head>

<div id="translatedMessage"></div>
<body>
<div th:include="menu.html"/>
<table>
    <thead>
    <tr>
        <th>Title</th>
        <th>Content</th>
        <th>Author</th>
        <th>Date</th>
    </tr>
    </thead>
    <tbody id="messageTableBody">
    <tr>
        <td th:text="${message.title}" />
        <td th:text="${message.content}" />
        <td>
            <span th:if="${message.user != null}" th:text="${message.user.username}"></span>
        </td>
        <td th:text="${message.date}" />

    </tr>
    </tbody>
</table>
</body>
</html>
